# Java Stuff
*.class

# BlueJ Stuff
*.bluej
*.ctxt

# Eclipse Stuff
*.classpath
*.project
/bin/
/.classpath
/.project
/.settings/

# IntelliJ Stuff
.idea
*.iws
*.properties
*.iml
/out/
/build/

# Gradle
/.gradle/

# Maven
target/
