.root { //Background Colour
    -fx-base: #0F0F0F;
    -fx-background-image: url("mainmenu.png");
    -fx-background-repeat: stretch;
    -fx-alignment: center;
    -fx-font-family: "Helvetica", center;
}

HBox {
    -fx-alignment: center;
    -fx-padding: 200 250 0 0;
}

#menuBox {
    -fx-padding: 156 0 0 0;
}

#settingsBox {
    -fx-padding: 30 250 0 0;
}


#button-box {

}

#quit {
    -fx-base: #FF0000;
}

#newGame {
    -fx-base: #00FF00;
}

#loadGame {
    -fx-base: #0000FF;
}

#settings {
    -fx-base: #000000;
}